*{
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.cl{
    flex-direction: column;
}
.full-width{
    width: 100%;
}
.no-outline-border{
    outline: none;
    border: none;
}

body{
    margin: 0px;
    --des:1rem;
    max-width: 100vw;
    height: 100vh;
}
.container{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(
        to left,
        rgb(255, 255, 255) 0% 50%,
        #452b4e 50%
      );
}
.img-ctnr{
    flex-basis: 50%;
    min-height: 100vh;
    padding: 0px 7.5%;
    justify-content: center;
}
.img-ctnr-circle{
    margin: 0px auto;
    aspect-ratio: 1 / 1;
    background-color:#ff805d ;
    border-radius: 50%;
    position: relative;
    margin-top: 40px;
}
.img-ctnr-circle img{
    position: absolute;
}
.img1{
    top:-2.5%;
    left:8.5%;
    width: 47%;
}
.img2{
    width: calc( 47% * 1.2923 );
    right: 0px;
    bottom: -1%;
}
.header-ctnr,.footer-ctnr{
    padding:0px 12%;
    color: #fff;
    word-wrap: break-word;
}
.header-ctnr h1{
    font-family:'Times New Roman', Times, serif;
}
.header-ctnr p,.form-header-ctnr p,.email-txt,.password-txt,.rem-reg-ctnr > .ctnr-left,.rem-reg-ctnr > .ctnr-right,.container-cbox ,.register-ctnr{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header-ctnr p{
    color: #dfdfdf;
}
.footer-ctnr,.img-ctnr-circle{
    margin-top: 40px;
}
.footer-ctnr img{
    max-width: 130px;
}
.footer-ctnr a{
    text-decoration: none;
}
.form-ctnr{
    flex-basis: 50%;
    justify-content:center;
    min-height: 100vh;
    word-wrap: break-word;
    padding:0px 12.5%;

}
.form-constant-margin{
    margin-top: 20px;
}
.form-header-ctnr p{
    color: #808080;
    font-size: var(--des);
}
.google-btn,.fb-btn{
    background: none;
    padding: 14px 0px 16px 0px;
    border-radius:7px ;
    font-weight: 700;
    box-shadow: 0px 2px 10px #e9e9e9;
    color: #3c3c3c;
    cursor: pointer;
}
.btn-icon{
    width: 1.2rem;
    position: relative;
    top:5px;
}
.h-div-line{
    margin: 35px 0;
    flex-basis: 7%;
    border-top: 1px solid #b3b3b3;
    color: #808080;
    position: relative;
}
.div-txt{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    padding:0px 18px;
    top:-10px;
    background-color: #fff;
    font-size: var(--des);
}
.email-ctnr{
    background-color: #f5f5f5 ;
    border-radius: 7px;
    display: flex;
    position: relative;
}
.icon{
    width:50px;
    padding: 20px 20px;
    text-align: center;
}
.ip{
    width: calc(100%);
    height: 150%;
    background: none;
    color: #3c3c3c;
    outline: none;
    font-family: verdana;
    border: none;
}

.email-txt,.password-txt{
    margin-top: 10px;
    font-size: 0.6rem;
}

.rem-reg-ctnr{
    flex-wrap: wrap;
}
.rem-reg-ctnr > .ctnr-left{
    flex-basis: 50%;
    color: #3c3c3c;
    font-size: var(--des);
}
.rem-reg-ctnr .ctnr-left input[type="checkbox"] {
    visibility: hidden;
}

.rem-reg-ctnr > .ctnr-right{
    flex-basis: 50%;
    text-align: right;
    font-size:var(--des) ;
}
.rem-reg-ctnr > .ctnr-right a{
    color: #3c3c3c;
}
.container-cbox {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: var(--des);
  }
  .container-cbox input {
    position: relative;
    display: none;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 3px;
  }
    .container-cbox input:checked  ~ .checkmark {
    background-color: #008cff;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container-cbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container-cbox .checkmark:after {
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(35deg);
  }

.login-btn{
    padding: 14px 0;
    margin-top:40px;
    background: #ff805d;
    font-family: monospace ;
    color: #fff;
    border-radius: 7px;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
    filter: drop-shadow(0px 3px 4px #ffb19b);
}
.register-ctnr{
    font-weight: 500;
    font-size: var(--des);
    flex-basis:10% ;
    margin-top: 45px;
    color: #808080;
}
.register-ctnr p{
    text-align: center;
}
.register-ctnr p a {
    color:#3c3c3c;
    font-weight: 500;
}

@media only screen and (max-width: 670px) {
    .container{
        flex-wrap: wrap;
        background: none;
    }
    .img-ctnr{
        flex-basis: 100%;
        background-color: #452b4e;
    }
    .form-ctnr{
        background-color: #fff;
        flex-basis: 100%;
    }
    .footer-ctnr img{
        max-width: 100px;
    }
  }

